/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
  
}

.shap-bg {
  background-color: #204d9c;
  border-radius: 0px 0px 196px 200px;
  -webkit-border-radius: 0px 0px 196px 200px;
  -moz-border-radius: 0px 0px 196px 200px;
}
